<a href="https://colab.research.google.com/github/jawaharrohan25/whatsapp/blob/main/EReview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
dcl = pd.read_excel('sample_data/test.xlsx', skiprows = 1, usecols = 'A:K')
dcl.head()

   No.   DSN  Cost Code  ... CL DOC. TYPE Index  DWG/DOC
0    1  1751       8110  ...          PID     A      DWG
1    2  1752       8110  ...          PID     A      DWG
2    3  1753       8110  ...          PID     A      DWG
3    4  1754       8110  ...          PID     A      DWG
4    5  1755       8110  ...          PID     A      DWG

[5 rows x 11 columns]

In [ ]:
dcl.columns = 'sn dsn cost disc docno sht rev title type index dwg_doc'.split()

In [ ]:
dcl.head()

   sn   dsn  cost     disc  ...                 title  type index dwg_doc
0   1  1751  8110  Process  ...  P&ID- LEGEND SHEET 1   PID     A     DWG
1   2  1752  8110  Process  ...  P&ID- LEGEND SHEET 2   PID     A     DWG
2   3  1753  8110  Process  ...  P&ID- LEGEND SHEET 3   PID     A     DWG
3   4  1754  8110  Process  ...  P&ID- LEGEND SHEET 4   PID     A     DWG
4   5  1755  8110  Process  ...  P&ID- LEGEND SHEET 5   PID     A     DWG

[5 rows x 11 columns]

In [ ]:
dcl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 838 entries, 0 to 837
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   sn       838 non-null    int64
 1   dsn      838 non-null    object
 2   cost     838 non-null    int64
 3   disc     838 non-null    object
 4   docno    838 non-null    object
 5   sht      353 non-null    float64
 6   rev      837 non-null    object
 7   title    838 non-null    object
 8   type     838 non-null    object
 9   index    838 non-null    object
 10  dwg_doc  838 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 72.1+ KB

In [ ]:
# dcl['sht'] = dcl['sht'].apply(lambda x: str(int(x))).astype('string')
# dcl.head()

In [ ]:
# def conv_sht(x):
#   if len(x) == 1:
#     x = '00'+x
#   elif len(x) ==2:
#     x = '0'+x
#   return x

In [ ]:
# dcl.sht= dcl.sht.apply(conv_sht)

In [ ]:
dcl.head()

   sn   dsn  cost     disc  ...                 title  type index dwg_doc
0   1  1751  8110  Process  ...  P&ID- LEGEND SHEET 1   PID     A     DWG
1   2  1752  8110  Process  ...  P&ID- LEGEND SHEET 2   PID     A     DWG
2   3  1753  8110  Process  ...  P&ID- LEGEND SHEET 3   PID     A     DWG
3   4  1754  8110  Process  ...  P&ID- LEGEND SHEET 4   PID     A     DWG
4   5  1755  8110  Process  ...  P&ID- LEGEND SHEET 5   PID     A     DWG

[5 rows x 11 columns]

In [ ]:
def conv_fname(x):
  if len(x) < 11:
    x = x[0] + x[3:9] + '001' + 'p'
  else:
    x = x[0] + x[3:9] + x[-3:] + 'p'

  return x.upper()

In [ ]:
dcl['filename'] = dcl['docno'].apply(conv_fname)

In [ ]:
dcl['filename'] = dcl['filename'] + dcl['rev'] + '.pdcl'

In [ ]:
dcl['filename'] = dcl['filename'].str.upper()

In [ ]:
dcl

      sn    dsn  cost     disc  ... type  index dwg_doc           filename
0      1   1751  8110  Process  ...  PID      A     DWG  T545177001PB.PDCL
1      2   1752  8110  Process  ...  PID      A     DWG  T545178001PB.PDCL
2      3   1753  8110  Process  ...  PID      A     DWG  T545179001PB.PDCL
3      4   1754  8110  Process  ...  PID      A     DWG  T545180001PB.PDCL
4      5   1755  8110  Process  ...  PID      A     DWG  T545181001PB.PDCL
..   ...    ...   ...      ...  ...  ...    ...     ...                ...
833  834   8300  8550      C&I  ...  ISS      J     DOC  T546781001PA.PDCL
834  835   2397  8550      C&I  ...  IPL      B     DWG  T545622001PA.PDCL
835  836   2268  8550      C&I  ...  IPD      J     DWG  T545493001PA.PDCL
836  837   8343  8820       PE  ...  DOC      A     DOC  T052301001PB.PDCL
837  838  16491  8820       PE  ...  DOC      A     DOC  T546457001PA.PDCL

[838 rows x 12 columns]

In [ ]:
# dcl['filename'] = dcl.apply(lambda x:  x['filename'] + '001' if len(dcl['filename']) < 10 else x['filename'], axis =1 )

# dcl['filename'] + 'P' + dcl['rev']

In [ ]:
dcl.to_csv('sample_data/a.csv')

In [ ]:
dcl[['docno', 'filename']].to_csv('sample_data/b.csv')

In [ ]:
dirlist = pd.read_csv('sample_data/dirlist.txt')

In [ ]:
dirlist.columns = ['path']

In [ ]:
dirlist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 837 entries, 0 to 836
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   path    837 non-null    object
dtypes: object(1)
memory usage: 6.7+ KB

In [ ]:
dirlist['filename'] = dirlist['path'].apply(lambda x : x.split('\\')[-1].upper())

In [ ]:
dirlist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 837 entries, 0 to 836
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   path      837 non-null    object
 1   filename  837 non-null    object
dtypes: object(2)
memory usage: 13.2+ KB

In [ ]:
dcl.head()

   sn   dsn  cost     disc  ... type  index dwg_doc           filename
0   1  1751  8110  Process  ...  PID      A     DWG  T545177001PB.PDCL
1   2  1752  8110  Process  ...  PID      A     DWG  T545178001PB.PDCL
2   3  1753  8110  Process  ...  PID      A     DWG  T545179001PB.PDCL
3   4  1754  8110  Process  ...  PID      A     DWG  T545180001PB.PDCL
4   5  1755  8110  Process  ...  PID      A     DWG  T545181001PB.PDCL

[5 rows x 12 columns]

In [ ]:
dcl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 838 entries, 0 to 837
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sn        838 non-null    int64
 1   dsn       838 non-null    object
 2   cost      838 non-null    int64
 3   disc      838 non-null    object
 4   docno     838 non-null    object
 5   sht       353 non-null    float64
 6   rev       837 non-null    object
 7   title     838 non-null    object
 8   type      838 non-null    object
 9   index     838 non-null    object
 10  dwg_doc   838 non-null    object
 11  filename  837 non-null    object
dtypes: float64(1), int64(2), object(9)
memory usage: 78.7+ KB

In [ ]:
combo = pd.merge(dcl,dirlist,on='filename',how='outer', indicator=True)

In [ ]:
combo.head()

    sn   dsn    cost     disc  ... dwg_doc           filename path     _merge
0  1.0  1751  8110.0  Process  ...     DWG  T545177001PB.PDCL  NaN  left_only
1  2.0  1752  8110.0  Process  ...     DWG  T545178001PB.PDCL  NaN  left_only
2  3.0  1753  8110.0  Process  ...     DWG  T545179001PB.PDCL  NaN  left_only
3  4.0  1754  8110.0  Process  ...     DWG  T545180001PB.PDCL  NaN  left_only
4  5.0  1755  8110.0  Process  ...     DWG  T545181001PB.PDCL  NaN  left_only

[5 rows x 14 columns]

In [ ]:
combo.value_counts('_merge')

_merge
left_only     838
right_only    837
both            0
dtype: int64

In [ ]:
combo[combo._merge == 'left_only']['filename'].to_csv('sample_data/not_in_dcl.csv')

In [ ]:
combo[combo._merge == 'left_only']['filename']

0      T545177001PB.PDCL
1      T545178001PB.PDCL
2      T545179001PB.PDCL
3      T545180001PB.PDCL
4      T545181001PB.PDCL
             ...
833    T546781001PA.PDCL
834    T545622001PA.PDCL
835    T545493001PA.PDCL
836    T052301001PB.PDCL
837    T546457001PA.PDCL
Name: filename, Length: 838, dtype: object

In [ ]:
combo[combo._merge == 'right_only']['filename'].to_csv('sample_data/nt_in_files.csv')

In [ ]:
combo[combo._merge == 'right_only']['filename']

838     1050-8530-SK-0002_A1.PDF
839             T052301001PB.PDF
840             T255113001PA.PDF
841             T255114001PA.PDF
842             T255115001PA.PDF
                  ...
1670            X757098006PD.PDF
1671            X972562001PD.PDF
1672            X972568001PD.PDF
1673            X972896001PD.PDF
1674            X972902003PD.PDF
Name: filename, Length: 837, dtype: object